/* DISPLAY SECTION */
.displaytitle{
    padding-bottom: 2%;
}
.displaydate{
    padding-bottom: 2%;
}
.displaycaption{
    padding-bottom: 2%;
}
.displaycategories{
    padding-bottom: 2%;
}
.displaytext a{
    text-decoration: none;
    color: #1282A2;
    cursor: pointer;
    width: auto;
}
.displaytext a:hover{
    color: #034078;
}
.displaycomments{
    padding-top: 4%;
    padding-bottom: 2%;
}
.comment button{
    border-radius: 5px;
    border: 1px solid #1282A2 !important;
    background-color: #FEFCFB !important;
    padding: .4% 3% .4% 3%;
    /* padding: top right bottom left*/
    transition: background-color .5s;
    font-family: 'Roboto', sans-serif;
    color: #1282A2;
    font-size: clamp(13px, 10vw, 20px);
    line-height: 30px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
.comment button a{
    color: #1282A2;
    text-decoration: none;
}
.comment button:hover{
    color: #FEFCFB !important;
    background-color: #1282A2 !important;
    border: 1px solid #1282A2;
}
.comment button a:hover{
    color: #FEFCFB !important;
}
.comment form{
    background-color: #1282A2;
}
.comment form:hover{
    background-color: #FEFCFB;
}
.comment input{
    min-width: 95%;
}
.displaysection{
    padding: 5% 3% 7% 3%;
    /* padding: top right bottom left*/
    display: grid;
    grid-gap: 2%;
    min-width: 100vw;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 3fr .1fr .1fr;
    grid-template-areas:
    "imgdisplay displaytext"
    "like displaytext"
    "comment downloadbutton";
}
.imgdisplay img{
    height: auto;
    width: 80vw;
}
.imgdisplay{
    grid-area: imgdisplay;
    height: 80vh;
    width: 80vw;
    overflow: hidden;
}
.displaytext{
    grid-area: displaytext;
    flex-direction: column;
    align-items: flex-start;
    height: 80vh;
    overflow: hidden;  
    overflow: scroll; 
}
.dots{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.like{
    grid-area: like;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.comment{
    grid-area: comment;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.downloadbutton{
    grid-area: downloadbutton;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 45px;
    height: 40px;
    width: 60px;
    border: 1px solid #1282A2;
    background-color: #1282A2;
}
.download{
    justify-content: center;
    align-items: center;
}
.downloadbutton:hover{
    border: 1px solid #FEFCFB;
    background-color: #0A1128; 
}

/* MEDIA QUERIES */
@media (max-width: 500px){
    .displaysection{
        padding: 10% 3% 50% 3%;
        /* padding: top right bottom left*/
        display: grid;
        grid-gap: 3%;
        min-width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: .6fr 1fr .1fr .1fr .1fr;
        grid-template-areas:
        "imgdisplay"
        "displaytext"
        "like"
        "comment"
        "downloadbutton";
    }
    .imgdisplay{
        height: auto;
        width: auto;
        overflow: hidden;
    }
    .displaytext{
        height: max-content; 
    }
}

@media (min-width: 500px) and (max-width: 790px){
    /* padding: 10% 3% 40% 3%; */
    .displaysection{
        padding: 7% 3% 45% 3%;
        /* padding: top right bottom left*/
        display: grid;
        grid-gap: 3%;
        min-width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr .1fr .1fr .1fr;
        grid-template-areas:
        "imgdisplay"
        "displaytext"
        "like"
        "comment"
        "downloadbutton";
    }
    .imgdisplay{
        height: auto;
        width: auto;
        overflow: hidden;
    }
    .displaytext{
        height: max-content; 
    }
}